{{#each uploads as |upload|}}
<!-- go through uploads array and do something on each one -->
        <div class="col-sm-6 col-md-3">
           <div class="thumbnail">
               <h4>{{upload.title}}</h4>
               <img src="{{upload.url}}" onerror=this.src="https://i.imgur.com/TZljVDd.jpg">
              <script>console.log('This is upload: ', {{upload}})</script>
               <!-- <p>{{upload.tags}}</p> -->
               <p>Owner Id: {{upload._owner}}</p>
                {{#if upload.tags}}
                <p>Tags:
                {{#each upload.tags as |tag|}}
                {{tag}}
                {{/each}}
                </p>
                {{/if}}
                <p>Date Created: {{upload.createdAt}}</p>
                <p>Date Updated: {{upload.updatedAt}}</p>
               <!-- <div class="col-xs-12"><button data-id="{{upload.id}}" type="button"  class="download btn btn-link col-xs-12">Download</button></div> -->
               <!-- <form action={{upload.url}}?signature={{upload.signature}}&policy={{upload.policy}}"><input data-id="{{upload.id}}" type="submit" class="download btn btn-link col-xs-12" value="Download" /></form> -->
               <!-- <a data-target="#myModal" href="/remote/url" role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->
               <!-- <a data-target="#myModal" href={{upload.url}}?signature={{upload.signature}}&policy={{upload.policy}} role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->
               <!-- <a data-target="#myModal" href="http://getbootstrap.com/docs/4.0/content/images/" role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->
               <div class="display-file">
                <!-- Button HTML (to Trigger Modal) -->
                <a href="#downloadModal" class="download btn btn-lg btn-primary btn-link col-xs-12" data-toggle="modal">Download</a>
                <a href="#downloadModal" class="download btn btn-lg btn-primary btn-link col-xs-12" data-toggle="modal">Download</a> -->
                <!-- Modal HTML -->
                <div id="downloadModal" class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                          aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Download File</h4>
                      </div>
                      <div class="modal-body">
                        <img src="{{upload.url}}?signature={{upload.signature}}&policy={{upload.policy}}" class="img-responsive center-block" width="256" height="256" alt="image">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="save-download" class="btn btn-primary">Save File</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="clearfix"></div>
           </div>
         </div>
{{/each}}
